.menuZoom {
  display: none;
  position: relative;
}

.menuZoom .menuZoomContent {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.menuZoom .menuZoomContent .menuZoomContentButton {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.menuZoom .menuZoomContent .menuZoomContentButton span {
  width: 26px;
  height: 1px;
  display: inline-block;
  background-color: #232323;
  border-radius: 50%;
}

.menuZoom .menuZoomContent .menuZoomContentButtonClosure {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  overflow: hidden;
  right: 20px;
  top: 20px;
  z-index: 7;
}

.menuZoom .menuZoomContent .menuZoomContentButtonClosure span {
  width: 100%;
  height: 1px;
  background-color: #232323;
  display: inline-block;
  position: absolute;
  transition: 1s ease-in-out;
}

.menuZoom .menuZoomContent .menuZoomContentButtonClosure span:nth-child(1) {
  width: 100%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.menuZoom .menuZoomContent .menuZoomContentButtonClosure span:nth-child(2) {
  width: 100%;
  opacity: 0;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.menuZoom .menuZoomContent .menuZoomContentButtonClosure span:nth-child(3) {
  width: 100%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.menuZoom .menuZoomContent .menuZoomContentButtonContent {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.86);
}

@media screen and (max-width: 960px) {
  .header .headerContent .banner .menu .menuContent .menuZoom {
    display: block;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContent .menuZoomContentButton {
    width: 25px;
    height: 25px;
    display: inline-block;
    overflow: hidden;
    right: 0;
    position: relative;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContent .menuZoomContentButton span {
    position: relative;
    top: -4px;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContent .menuZoomContentButton span:nth-child(2) {
    top: -12px;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContentButtonContent {
    height: 100%;
    overflow: hidden;
    background-color: #fafafa;
    position: fixed;
    transition: 1s ease-in-out;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContentButtonContent h1 {
    text-align: left;
    position: fixed;
    top: 80px;
    left: -30px;
    color: rgba(15, 132, 170, 0.65);
    font-size: 120px;
    font-weight: 600;
    border-top: 1px solid;
    width: 100%;
    opacity: 0.8;
    writing-mode: vertical-lr;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContentButtonContent .menuZoomContentButtonContentMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    float: right;
    width: 100%;
    top: 140px;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContentButtonContent .menuZoomContentButtonContentMenu ._menuContentUl {
    width: 100%;
    display: inline-block;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContentButtonContent .menuZoomContentButtonContentImg {
    width: 100%;
    height: 40%;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    background: url(../images/banner37.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: bottom;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContentButtonContent ._menuContentLi {
    margin: 0;
    border-bottom: 1px solid;
    width: 70%;
    float: right;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContentButtonContent ._menuContentLi::after {
    width: 0;
    height: 0;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContentButtonContent ._menuContentLi:nth-child(5) {
    border: none;
  }
  .header .headerContent .banner .menu .menuContent .menuZoom .menuZoomContentButtonContent ._menuContentLi .innerPage {
    background: none;
    position: relative;
    top: 0;
    box-shadow: none;
    width: 100%;
  }
}
